<h1 id="proteinortho">Proteinortho</h1>
<p>Proteinortho is a tool to detect orthologous genes within different species.</p>
<p><strong>Input</strong>: Multiple fasta files (orange boxes) with many proteins/genes (circles). <strong>Output</strong>: Groups (*.proteinortho) and pairs (*.proteinortho-graph) of orthologs proteins/genes.</p>
<p>For doing so, it compares similarities of given gene sequences and clusters them to find significant groups. The algorithm was designed to handle large-scale data and can be applied to hundreds of species at one. Details can be found in (<a href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-12-124">doi:10.1186/1471-2105-12-124</a>). To enhance the prediction accuracy, the relative order of genes (synteny) can be used as additional feature for the discrimination of orthologs. The corresponding extension, namely PoFF (<a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0105015">doi:10.1371/journal.pone.0105015</a>), is already build in Proteinortho. The general workflow of proteinortho:</p>
<p><img src="https://www.uni-marburg.de/de/fb16/ipc/ag-lechner/graph.png/@@images/image/unimr_lead_image_sd" alt="proteinortho.workflow.png" height="250"></p>
<p>First an initial all vs. all comparison between all proteins of all species is performed to determine protein similarities (upper right image). <br> The second stage is the clustering of similar genes to meaningful co-orthologous groups (lower right image). <br> Connected components within this graph can be considered as putative co-orthologous groups in theory and are returned in the output (lower left image).</p>
<h1 id="new-features-of-proteinortho-version-6">New Features of Proteinortho Version 6</h1>
<ul>
<li>Implementation of various Blast alternatives for step (for -step=2 the -p= options): Diamond, MMseqs2, Last, Topaz, Rapsearch2, Blat, Ublast and Usearch</li>
<li>Multithreading support for the clustering step (-step=3)</li>
<li>Integration of the LAPACK Fortran Library for a faster clustering step (-step=3)</li>
<li>Integration of the bitscore weights in the connectivity calculation for more data dependant splits (-step=3)</li>
<li>Continuous Integration &amp; Continuous Development <a href="https://gitlab.com/paulklemm_PHD/proteinortho/pipelines"><img src="https://gitlab.com/paulklemm_PHD/proteinortho/badges/master/pipeline.svg" alt="pipeline status" /></a></li>
</ul>
<p>A more detailed list of all changes: <a href="https://gitlab.com/paulklemm_PHD/proteinortho/blob/master/CHANGELOG">CHANGELOG</a></p>
<h1 id="table-of-contents">Table of Contents</h1>
<ol type="1">
<li><a href="#installation">Installation</a></li>
<li><a href="#synopsis">Synopsis and Description</a></li>
<li><a href="#options">Options/Parameters</a></li>
<li><a href="#poff">PoFF synteny extension</a></li>
<li><a href="#output-files-overview">Output description</a></li>
<li><a href="#examples">Examples</a></li>
</ol>
<h1 id="proteinortho-wiki-table-of-contents"><a href="https://gitlab.com/paulklemm_PHD/proteinortho/wikis/">Proteinortho-Wiki</a> Table of Contents</h1>
<ol type="1">
<li><a href="https://gitlab.com/paulklemm_PHD/proteinortho/wikis/Tools%20and%20additional%20programs">Tools and additional programs</a></li>
<li><a href="https://gitlab.com/paulklemm_PHD/proteinortho/wikis/Error-Codes">Error Codes and Troubleshooting</a> &lt;- look here if you cannot compile/run proteinortho</li>
<li><a href="https://gitlab.com/paulklemm_PHD/proteinortho/wikis/Large-compute-jobs-(the--jobs-option)">Large compute jobs example</a></li>
<li><a href="https://gitlab.com/paulklemm_PHD/proteinortho/-/wikis/synteny-example">Synteny + Core Proteome Example</a></li>
<li><a href="https://gitlab.com/paulklemm_PHD/proteinortho/wikis/FAQ">FAQ</a> <br> <a href="https://gitlab.com/paulklemm_PHD/proteinortho/wikis/">(…)</a></li>
</ol>
<p>Bug reports: Please have a look at chapter <a href="https://gitlab.com/paulklemm_PHD/proteinortho/wikis/Error-Codes">2.</a> first or send a mail to incoming+paulklemm-phd-proteinortho-7278443-issue-<span class="citation" data-cites="incoming.gitlab.com">@incoming.gitlab.com</span>. (please include the ‘parameter-vector’ that is printed for all errors) You can also send mails to lechner@staff.uni-marburg.de. Any suggestions, feedback and comments are welcome!</p>
<h1 id="installation">Installation</h1>
<p><strong>Proteinortho comes with precompiled binaries of all executables (Linux/x86) so you should be able to run perl proteinortho6.pl in the downloaded directory for Linux/x86.</strong> You could also move all executables to a local bin directory (e.g. with make install PREFIX=~/bin). If you cannot execute the src/BUILD/Linux_x86_64/proteinortho_clustering, then you have to recompile with make, see the section 2. Building and installing proteinortho from source.</p>
<p><br></p>
<h4 id="installation-with-bioconda-for-linux-osx-install-with-bioconda-alt">Installation with (bio)conda (for Linux + OSX) <a href="http://bioconda.github.io/recipes/proteinortho/README.html"><img src="https://img.shields.io/badge/install%20with-bioconda-brightgreen.svg?style=flat" alt="install with bioconda" /></a> <a href="https://bioconda.github.io/recipes/proteinortho/README.html"><img src="https://img.shields.io/conda/dn/bioconda/proteinortho.svg?style=flat" alt="alt" /></a></h4>
<pre><code>conda install -c bioconda proteinortho</code></pre>
<p>If you need conda (see <a href="https://docs.anaconda.com/anaconda/install/">here</a>) and the bioconda channel: <code>conda config --add channels bioconda</code>.</p>
<p><br></p>
<h4 id="installation-with-brew-for-osx-install-with-brew-dl">Installation with brew (for OSX) <a href="https://formulae.brew.sh/formula/proteinortho"><img src="https://img.shields.io/badge/install%20with-brew-brightgreen.svg?style=flat" alt="install with brew" /></a> <a href="https://formulae.brew.sh/formula/proteinortho"><img src="https://img.shields.io/badge/dynamic/json.svg?label=downloads&amp;query=$%5B%27analytics%27%5D%5B%27install%27%5D%5B%27365d%27%5D%5B%27proteinortho%27%5D&amp;url=https%3A%2F%2Fformulae.brew.sh%2Fapi%2Fformula%2Fproteinortho.json&amp;color=green" alt="dl" /></a></h4>
<pre><code>brew install proteinortho</code></pre>
<p>If you need brew (see <a href="https://brew.sh/index_de">here</a>)</p>
<p><br></p>
<h4 id="deploy-with-docker-install-with-docker">Deploy with docker <a href="https://quay.io/repository/biocontainers/proteinortho"><img src="https://img.shields.io/badge/install%20with-docker-brightgreen.svg?style=flat" alt="install with docker" /></a></h4>
<pre><code>docker pull quay.io/biocontainers/proteinortho:TAG</code></pre>
<p>you can find the TAG <a href="https://quay.io/repository/biocontainers/proteinortho?tab=tags">here</a> (e.g. 6.0.23–hfd40d39_0).</p>
<details>
<p><summary>how to docker (Click to expand)</summary></p>
<p><br></p>
<p>First define a <a href="https://quay.io/repository/biocontainers/proteinortho?tab=tags">TAG</a> with:</p>
<p><code>export TAG='put the version tag here'</code></p>
<p>To start a simple bash shell with the proteinortho container use:</p>
<p><code>docker run --rm -it quay.io/biocontainers/proteinortho:$TAG bash</code></p>
<p>Here you can start/use proteinortho. You can change “6.0.22–hfd40d39_0” with any tag/version that is available <a href="https://quay.io/repository/biocontainers/proteinortho?tab=tags">here</a>. Sadly there is no “:latest” tag available …</p>
<h3 id="now-lets-try-to-mount-your-home-in-the-proteinortho-container">Now lets try to mount your home in the proteinortho container</h3>
<p>This is neccessary if you want to access your local files:</p>
<p><code>docker run --rm --mount "type=bind,src=/home/$(id -un),dst=/home/$(id -un)" -u $(id -u):$(id -g) -it quay.io/biocontainers/proteinortho:$TAG bash</code></p>
<p>now you have your home directory mounted to /home/YOURNAME. (load your bashrc within the container : <code>source /home/YOURNAME/.bashrc</code>)</p>
</details>
<p><br></p>
<h4 id="available-at-galaxy-europe">Available at Galaxy Europe</h4>
<p>Simply go to the european galaxy server and search for proteinortho:</p>
<pre><code>https://usegalaxy.eu</code></pre>
<p>Or you can integrate proteinortho into your own galaxy instance using: <a href="https://toolshed.g2.bx.psu.edu/view/iuc/proteinortho/4850f0d15f01">proteinortho (iuc repository)</a></p>
<p><br></p>
<h4 id="installation-with-dpkg-root-privileges-are-required">Installation with dpkg (root privileges are required)</h4>
<p>Disclamer: Be aware that this method usually lacks 6-12 months behind the latest version</p>
<p>The deb package can be downloaded here: <a href="https://packages.debian.org/unstable/proteinortho">unstable</a> or <a href="https://packages.debian.org/stable/proteinortho">stable</a>. Afterwards the deb package can be installed with <code>sudo dpkg -i proteinortho*deb</code>.</p>
<p><br></p>
<h4 id="installation-with-apt-get"><em>Installation with apt-get</em></h4>
<p>Disclamer: Be aware that this method usually lacks 6-12 months behind the latest version (<a href="https://packages.debian.org/stable/proteinortho">current version</a>)</p>
<p><em>proteinortho is released to stable Debian 11 (2021), so you can install it with <code>(sudo) apt install proteinortho</code></em></p>
<p><br></p>
<h4 id="prerequisites-for-compiling-proteinortho-from-source">Prerequisites for compiling proteinortho from source</h4>
<p>Proteinortho uses standard software which is often installed already or is part of then package repositories and can thus easily be installed. The sources come with a precompiled version of Proteinortho for 64bit Linux x86.</p>
<details>
<p><summary>To <b>run</b> Proteinortho, you need: (Click to expand)</summary></p>
<ul>
<li><p>At least one of the following the following programs (default is diamond):</p>
<ul>
<li>NCBI BLAST+ or NCBI BLAST legacy (to test this, type tblastn. apt-get install ncbi-blast+)</li>
<li>Diamond (apt-get install diamond, brew install diamond, conda install diamond, https://github.com/bbuchfink/diamond)</li>
<li>Last (http://last.cbrc.jp/)</li>
<li>Rapsearch (https://github.com/zhaoyanswill/RAPSearch2)</li>
<li>Topaz (https://github.com/ajm/topaz)</li>
<li>usearch (https://www.drive5.com/usearch/download.html)</li>
<li>ublast (is part of usearch)</li>
<li>blat (http://hgdownload.soe.ucsc.edu/admin/)</li>
<li>mmseqs2 (conda install mmseqs2, https://github.com/soedinglab/MMseqs2)</li>
<li>Perl v5.08 or higher (to test this, type perl -v in the command line)</li>
<li>(optional) Python v3.0 or higher to include synteny analysis (to test this, type ‘python -V’ in the command line)</li>
<li>Perl standard modules (these should come with Perl): Thread::Queue, File::Basename, Pod::Usage, threads (if you miss one just install with <code>cpan install ...</code> )</li>
</ul></li>
</ul>
</details>
<br>
<details>
<p><summary>To <b>compile</b> Proteinortho (linux/osx), you need: (Click to expand)</summary></p>
<ul>
<li>GNU make (to test this, type ‘make’ in the command line)
<ul>
<li>GNU g++ v4.1 or higher (to test this, type ‘g++ –version’ in the command line)</li>
<li>openmp (to test this, type ‘g++ -fopenmp’ in the command line)</li>
<li>(optional) gfortran for compiling LAPACK (to test this, type ‘whereis gfortran’ in the command line)</li>
<li>(optional) CMake for compiling LAPACK (to test this, type ‘cmake’ in the command line), OR you can use your own compiled version of lapack (you can get this with ‘apt-get install liblapack3’) and run ‘make USEPRECOMPILEDLAPACK=TRUE’</li>
</ul></li>
</ul>
</details>
<p><br></p>
<h4 id="building-and-installing-proteinortho-from-source-linux-and-osx">Building and installing proteinortho from source (linux and osx)</h4>
<p>You need to have a working lapack library, check this e.g. with ‘dpkg –get-selections | grep lapack’. Install lapack e.g. with ‘apt-get install libatlas3-base’ or liblapack3.</p>
<p>If you dont have Lapack, then ‘make’ will automatically compiles an old lapack (v3.8.0) for you automatically as fallback !</p>
Fetch the latest source code archive downloaded from <a href="https://gitlab.com/paulklemm_PHD/proteinortho/-/archive/master/proteinortho-master.zip">here</a>
<details>
<p><summary>or from here (Click to expand)</summary></p>
<blockquote>
<p>git clone https://gitlab.com/paulklemm_PHD/proteinortho</p>
</blockquote>
<blockquote>
<p>wget https://gitlab.com/paulklemm_PHD/proteinortho/-/archive/master/proteinortho-master.zip</p>
</blockquote>
</details>
<p><br></p>
<ul>
<li><code>tar -xzvf proteinortho*.tar.gz</code> or <code>unzip proteinortho*.zip</code> : Extract the files</li>
<li><code>cd proteinortho*</code> : Change directory into the extracted folder</li>
<li>You can now run proteinortho6.pl directly (linux only).</li>
<li><code>make clean &amp;&amp; make</code> : If you want to recompile Proteinortho. (For osx you need a newer g++ compiler to support multithreading, see below)</li>
<li><code>make test</code> : To make sure Proteinortho works as expected. The output should look like below (‘Make test output’).</li>
<li><code>make install</code> or <code>make install PREFIX=~/bin</code> for local installation.</li>
</ul>
<details>
<summary><b>OSX additional informations (the -fopenmp error)</b></summary>
<pre>
Install a newer g++ compiler for -fopenmp support (multithreading) with brew (get brew here https://brew.sh/index_de)

```
brew install gcc --without-multilib
```

Then you should have a g++-7 or whatever newer version that there is (g++-8,9,...).
Next you have to tell make to use this new compiler with one of the following:
```
ln -s /usr/local/bin/gcc-7 /usr/local/bin/gcc
ln -s /usr/local/bin/g++-7 /usr/local/bin/g++
```

OR(!) specify the new g++ in 'make CXX=/usr/local/bin/g++-7 all'
</pre>
</details>
<details>
<summary>‘make’ successful output (Click to expand)</summary>
<pre>
[  0%] Prepare proteinortho_clustering ...
[ 20%] Building **proteinortho_clustering** with LAPACK (static/dynamic linking)
[ 25%] Building **graphMinusRemovegraph**
[ 50%] Building **cleanupblastgraph**
[ 75%] Building **po_tree**
[100%] Everything is compiled with no errors.
</pre>
<p>The compilation of proteinortho_clustering has multiple fall-back routines. If everything fails please look here <a href="https://gitlab.com/paulklemm_PHD/proteinortho/wikis/Error%20Codes">Troubleshooting (proteinortho wiki)</a>.</p>
</details>
<h4 id="make-test-output">Make test output</h4>
<details>
<summary>‘make test’ successful output (Click to expand)</summary>
<pre>
Everything is compiled with no errors.
[TEST] 1. basic proteinortho6.pl -step=2 tests
 [1/11] -p=blastp+ test: passed
 [2/11] -p=blastp+ synteny (PoFF) test: passed
 [3/11] -p=diamond test: passed
 [4/11] -p=diamond (--moresensitive) test (subparaBlast): passed
 [5/11] -p=lastp (lastal) test: passed
 [6/11] -p=topaz test: passed
 [7/11] -p=usearch test: passed
 [8/11] -p=ublast test: passed
 [9/11] -p=rapsearch test: passed
 [10/11] -p=blatp (blat) test: passed
 [11/11] -p=mmseqsp (mmseqs) test: passed
[TEST] 2. -step=3 tests (proteinortho_clustering)
 [1/2] various test functions of proteinortho_clustering (-test): passed
 [2/2] Compare results of 'with lapack' and 'without lapack': passed
[TEST] Clean up all test files...
[TEST] All tests passed
</pre>
</details>
<p>If you have problems compiling/running the program go to <a href="https://gitlab.com/paulklemm_PHD/proteinortho/wikis/Error%20Codes">Troubleshooting (proteinortho wiki)</a>.</p>
<p><br></p>
<h1 id="synopsis">SYNOPSIS</h1>
<blockquote>
<p><strong>proteinortho <a href="#options">options</a> &lt;fasta file(s)&gt;</strong></p>
</blockquote>
<p>one fasta file for each input species; at least two species are required</p>
<h1 id="description">DESCRIPTION</h1>
<p><strong>proteinortho</strong> is a tool to detect orthologous genes within different species.</p>
<p>Proteinortho assumes, that you have all your gene sequences in FASTA format either represented as amino acids or as nucleotides. The source code archive contains some examples, namely C.faa, E.faa, L.faa, M.faa located in the test/ directory. <strong>By default Proteinortho assumes amino</strong> <strong>acids sequences and thus uses diamond</strong> (-p=diamond) to compare sequences. If you have nucleotide sequences, you need to change this by adding the parameter -p=blastn+ (or some other algorithm). (In case you have only have NCBI BLAST legacy installed, you need to tell this too - either by adding -p=blastp or -p=blastn respectively.) The full command for the example files would thus be &gt; proteinortho6.pl -project=test test/C.faa test/E.faa</p>
<p>test/L.faa test/M.faa. Instead of naming the FASTA files one by one, you could also use test/*.faa. Please note that the parameter -project=test is optional, for naming the output. With this, you can set the prefix of the output files generated by Proteinortho. If you skip the project parameter, the default project name will be myproject.</p>
<h1 id="options-graphical-user-interface">OPTIONS graphical user interface</h1>
<p>Open <code>proteinorthoHelper.html</code> in your favorite browser or visit <a href="http://lechnerlab.de/proteinortho/">lechnerlab.de/proteinortho</a> online for an interactiv exploration of the different options of proteinortho.</p>
<h1 id="options">OPTIONS</h1>
<p><strong>Main parameters</strong> (can be used with – or -)</p>
<ul>
<li><p><strong>–project</strong>=name (default: myproject) prefix for all resulting file names</p></li>
<li><p><strong>–inproject</strong>=name (default: same as –project) load data from this namespace instead (works with intermediate files for step=2 and blast-graph for step=3)</p></li>
<li><p><strong>–cpus</strong>=number (default: all available) the number of processors to use (multicore/processor support)</p></li>
<li><p><strong>–verbose</strong>={0,1,2} (default: 1) verbose level. 1:keeps you informed about the progress</p></li>
<li><p><strong>–silent</strong> sets verbose level to 0.</p></li>
<li><p><strong>–temp</strong>=directory(.) path to the temporary files</p></li>
<li><p><strong>–force</strong> forces the recalculation of the blast results in any case in step=2. Also forces the recreation of the database generation in step=1</p></li>
<li><p><strong>–clean</strong> removes all database-index-files generated by the -p algorithm afterwards</p></li>
<li><p><strong>–step</strong>={0,1,2,3} (default: 0) 0 -&gt; all. 1 -&gt; prepare blast (build db). 2 -&gt; run all-versus-all blast. 3 -&gt; run the clustering.</p>
<details>
<p><summary>(Show more information)</summary></p>
<p>proteinortho test/*faa</p>
<p># the following 3 commands are producing the same results as the command above proteinortho -step=1 test/<em>faa proteinortho -step=2 test/</em>faa proteinortho -step=3</p>
</details></li>
<li><p><strong>–keep</strong> stores temporary blast results for reuse (proteinortho_cache_project directory). In a second run the intermediate blast results are loaded instead of calculated. You can adjust the parameters e.g. a more strict -e evalue cut off and write the output to a different namespace using –inproject.</p>
<details>
<p><summary>(Show more information)</summary></p>
<p># 1. generate db files</p>
<p>proteinortho -step=1 -project=test -keep infile/*fasta</p>
<p># 2. run the all-versus-all blast of some input files (infile/)</p>
<p>proteinortho -step=2 -project=test -keep infile/*fasta</p>
<p># now you can insert more fasta files to infile/ and reuse everything computed</p>
<p>proteinortho -step=2 -project=test -keep infile/*fasta</p>
<p># finally run clustering</p>
<p>proteinortho -step=3 -project=test -keep</p>
</details></li>
<li><p><strong>–isoform</strong>={ncbi,uniprot,trinity} <a href="https://gitlab.com/paulklemm_PHD/proteinortho/-/wikis/FAQ#how-does-the-isoform-work">more information about –isoform</a></p>
<p>Merge isoforms to a single entity.</p>
<details>
<p><summary>ncbi</summary></p>
<pre><code>isoforms are specified in ncbi style 

---
&gt;**ENSMUSP00000021091.8** pep chromosome:GRCm38:11:74673949:74724670:-1 **gene:ENSMUSG00000020745.15** transcript:ENSMUST00000021091.14 gene_biotype:protein_coding transcript_biotype:protein_coding gene_symbol:Pafah1b1 description:platelet-activating factor acetylhydrolase, **isoform** 1b, subunit 1 [Source:MGI Symbol;Acc:MGI:109520]
&gt;**ENSMUSP00000099578.2** pep chromosome:GRCm38:11:74673950:74723858:-1 **gene:ENSMUSG00000020745.15** transcript:ENSMUST00000102520.8 gene_biotype:protein_coding transcript_biotype:protein_coding gene_symbol:Pafah1b1 description:platelet-activating factor acetylhydrolase, **isoform** 1b, subunit 1 [Source:MGI Symbol;Acc:MGI:109520]  
---

Different protein identifier (ENSMUSP00000021091.8, ENSMUSP00000099578.2) but the same gene id (ENSMUSG00000020745.15). The word &#39;isoform&#39; is also mandatory!</code></pre>
</details>
<details>
<p><summary>uniprot</summary></p>
<pre><code>isoforms are specified in uniprot style using the &#39;*_additional.fa&#39; files 

E.g. C.fa: 

---
&gt;tr|ADHA2|R4GDP1_DANRE Gamma-aminobutyric
(...)
---

C_additional.fa: 

---
&gt;tr|QDHQ4|R4GDP1_DANRE isoform of ADHA2
(...)
---

QDHQ4 is the isoform of ADHA2. Please simply add the *_additional.fa files to the proteinortho call!</code></pre>
</details>
<details>
<p><summary>trinity</summary></p>
<pre><code>isoforms are specified in trinity style:

---
&gt;TRINITY_DN1000_c115_g5_i1 len=247 path=[31015:0-148 23018:149-246]
(...)
---

The protein id is TRINITY_DN1000_c115_g5a and the isoform id is specified with i1</code></pre>
</details></li>
</ul>
<p><strong>Search options (step 1-2)</strong> (output: <myproject>.blast-graph)</p>
<ul>
<li><p><strong>–p</strong>=algorithm (default: diamond)</p>
<details>
<p><summary>show all options (Click to expand)</summary></p>
<ul>
<li><p>autoblast : automatically detects the blast+ program (blastp,blastn,tblastn,blastx) depending on the input (can also be mixed together!)</p>
<ul>
<li><p>blastn_legacy,blastp_legacy,tblastx_legacy : legacy blast family (shell commands: blastall -) family. The suffix ‘n’ or ‘p’ indicates nucleotide or protein input files.</p></li>
<li><p>blastn+,blastp+,tblastx+ : standard blast family (shell commands: blastn,blastp,tblastx) family. The suffix ‘n’ or ‘p’ indicates nucleotide or protein input files.</p></li>
<li><p>diamond : Only for protein files! standard diamond procedure with –sensitive flag Warning: Please use version 0.9.29 or later to avoid this known bug: #24</p></li>
<li><p>lastn,lastp : lastal. -n : dna files, -p protein files (BLOSUM62 scoring matrix)!</p></li>
<li><p>rapsearch : Only for protein files!</p></li>
<li><p>mmseqsp,mmseqsn : mmseqs2. -n : dna files, -p protein files</p></li>
<li><p>topaz : Only for protein files!</p></li>
<li><p>usearch : usearch_local procedure with -id 0 (minimum identity percentage).</p></li>
<li><p>ublast : usearch_ublast procedure.</p></li>
<li>blatp,blatn : blat. -n : dna files, -p protein files</li>
</ul></li>
</ul>
</details>
<p><br></p></li>
<li><p><strong>–sim</strong>=float (default: 0.95) min. reciprocal similarity for additional hits. 1 : only the best reciprocal hits are reported, 0 : all possible reciprocal blast matches (within the -e) are reported.</p></li>
</ul>
<details>
<p><summary>More (Click to expand)</summary></p>
<ul>
<li><p><strong>–e</strong>=evalue (default: 1e-05) E-value for blast (column 11 of blast outfmt 6 output)</p>
<ul>
<li><p><strong>–selfblast</strong> apply selfblast, detects paralogs without orthologs</p></li>
<li><p><strong>–identity</strong>=number (default: 25) min. percent identity of best blast hits (column 3 (pident) of blast outfmt 6 output)</p></li>
<li><p><strong>–cov</strong>=number (default: 50) min. coverage of best blast alignments in % coverage between protein A and B = min ( alignment_length_A_B/length_A, alignment_length_A_B/length_B ) (alignment_length_A_B = column 4 of blast outfmt 6 output)</p></li>
<li><p><strong>–subparaBlast</strong>=‘options’ additional parameters for the search tool (-p=blastp+,diamond,…) example -subpara=‘-seg no’ or -subpara=‘–more-sensitive’ for diamond</p></li>
<li><p><strong>–identical</strong> only return entries that are 100% identical</p></li>
<li><p><strong>–range</strong>=number (default:disabled) maximal length difference for any blast hit. e.g. 0 = filter for hits between proteins of same length</p></li>
</ul></li>
</ul>
</details>
<p><br></p>
<p><strong>Synteny options (optional, step 2)</strong> (output: <myproject>.ffadj-graph, <myproject>.poff-graph, <myproject>.poff.tsv (tab separated file with groups))</p>
<details>
<p><summary>More (Click to expand)</summary></p>
<ul>
<li><p><strong>–synteny</strong> activate PoFF extension to separate similar by contextual adjacencies (requires .gff for each .fasta)</p>
<ul>
<li><p><strong>–dups</strong>=number (default: 0) PoFF: number of reiterations for adjacencies heuristic, to determine duplicated regions</p></li>
<li><p><strong>–cs</strong>=number (default: 3) PoFF: Size of a maximum common substring (MCS) for adjacency matches</p></li>
<li><strong>–alpha</strong>=number (default: .5) PoFF: weight of adjacencies vs. sequence similarity</li>
</ul></li>
</ul>
</details>
<p><br></p>
<p><strong>Clustering options (step 3)</strong> (output: <myproject>.proteinortho.tsv, <myproject>.proteinortho.html, <myproject>.proteinortho-graph)</p>
<ul>
<li><strong>–conn</strong>=float (default: 0.1 / 1e-1) min. algebraic connectivity. <b>This is the main parameter for the clustering step.</b> Choose larger values then more splits are done, resulting in more and smaller clusters. (There are still cluster with an alg. conn. below this given threshold allowed if the protein to species ratio is good enough, see -minspecies option below). 0 = search only connected components and calculate the connectivity but no split is made. -1 = same as 0 but the connectivity is not calculated</li>
</ul>
<details>
<p><summary>More (Click to expand)</summary></p>
<ul>
<li><p><strong>–singles</strong> report singleton genes without any hit</p></li>
<li><p><strong>–purity</strong>=float (default: 1e-7) avoid spurious graph assignments</p></li>
<li><p><strong>–minspecies</strong>=float (default: 1, must be &gt;=0) min. number of genes per species. If a group is found with up to (minspecies) genes/species, it wont be split again (regardless of the connectivity).</p></li>
<li><p><strong>–nograph</strong> do not generate *-graph file (pairwise orthology relations)</p></li>
<li><p><strong>–subparaCluster</strong>=‘options’ additional parameters for the clustering algorithm (proteinortho_clustering) example -subparaCluster=‘-maxnodes 10000’. Note: -rmgraph cannot be set. All other parameters of subparaCluster are replacing the default values (like -cpus or -minSpecies)</p></li>
<li><p><strong>–xml</strong> do generate an orthologyXML file (see http://www.orthoxml.org for more information). You can also use proteinortho2xml.pl &lt;myproject.proteinortho&gt;.</p></li>
<li><p><strong>–core</strong> stop clustering if a split would result in groups that do not span across all species of the inital connected component. Overrules the -conn threshold.</p></li>
<li><p><strong>–coreMinSpecies</strong> sets the minimal number of species for the -core option (default:0)</p></li>
<li><p><strong>–coreMaxProts</strong> sets the maximal number of proteins per species for the -core option (default:100)</p></li>
</ul>
</details>
<p><br></p>
<p><strong>Misc options</strong></p>
<ul>
<li><strong>–checkfasta</strong> checks input fasta files if the given algorithm can process the given fasta file.</li>
</ul>
<details>
<p><summary>(Click to expand)</summary></p>
<ul>
<li><p><strong>–cleanblast</strong> cleans blast-graph with proteinortho_cleanupblastgraph</p>
<ul>
<li><p><strong>–desc</strong> write description files (for NCBI FASTA input only)</p></li>
<li><p><strong>–binpath</strong>=directory (default: $PATH) path to your local executables (blast, diamond, mcl, …)</p></li>
<li><p><strong>–debug</strong> gives detailed information for bug tracking</p></li>
</ul></li>
</ul>
</details>
<p><br></p>
<p><strong>Large compute jobs</strong> - <strong>–jobs</strong>=M/N If you want to involve multiple machines or separate a Proteinortho run into smaller chunks, use the -jobs=<strong>M</strong>/<strong>N</strong> option. First, run ‘proteinortho6.pl -steps=1 …’ to generate the indices. Then you can run ‘proteinortho6.pl -steps=2 -jobs=<strong>M</strong>/<strong>N</strong> …’ to run small chunks separately. Instead of <strong>M</strong> and <strong>N</strong> numbers must be set representing the number of jobs you want to divide the run into (<strong>M</strong>) and the job division to be performed by the process. E.g. to divide a Proteinortho run into 4 jobs to run on several machines, use ‘proteinortho6.pl -steps=2 -jobs=1/4’, ‘proteinortho6.pl -steps=2 -jobs=1/4’, ‘proteinortho6.pl -steps=2 -jobs=2/4’, ‘proteinortho6.pl -steps=2 -jobs=3/4’, ‘proteinortho6.pl -steps=2 -jobs=4/4’.</p>
<pre><code>See [Large compute jobs, the --jobs option (proteinortho wiki)](https://gitlab.com/paulklemm_PHD/proteinortho/wikis/Large-compute-jobs-(the--jobs-option)) for more details.</code></pre>
<p><br></p>
<h1 id="poff">PoFF</h1>
<p>The PoFF extension allows you to use the relative order of genes (synteny) as an additional criterion to disentangle complex co-orthology relations. To do so, add the parameter -synteny.</p>
<p>You can use it to either come closer to one-to-one orthology relations by preferring synthetically conserved copies in the presence of two very similar paralogs (default), or just to reduce noise in the predictions by detecting multiple copies of genomic areas (add the parameter -dups=3).</p>
<p>Please note that you need additional data to include synteny, namely the gene positions in GFF3 format. As Proteinortho is primarily made for proteins, it will only accept GFF entries of type CDS (column #3 in the GFF-file). The attributes column (#9) must contain Name=GENE IDENTIFIER where GENE IDENTIFIER corresponds to the respective identifier in the FASTA format. It may not contain a semicolon (;)! Alternatively, you can also set ID=GENE IDENTIFIER. Example files are provided in the source code archive. Hence, we can run proteinortho6.pl -project=test -synteny test/A1.faa test/B1.faa test/E1.faa test/F1.faa to add synteny information to the calculations. Of course, this only makes sense if species are sufficiently similar. You won’t gain much when comparing e.g. bacteria with fungi.</p>
<p>When the analysis is done you will find an additional file in your current working directory, namely myproject.poff.tsv (tab separated file). This file is equivalent to the test.proteinortho.tsv file (above) but can be considered more accurate as synteny was involved for its construction. More information about the output files are described below and a full example is described here: <a href="https://gitlab.com/paulklemm_PHD/proteinortho/-/wikis/synteny-example">Synteny example (proteinortho wiki)</a>.</p>
<h1 id="output-files-overview">Output Files Overview</h1>
<p><strong>BLAST Search Output (step 1-2)</strong></p>
<p>filtered blast data based on adaptive reciprocal best blast matches, the reciprocal best match matches within a range of 95% by default (-sim).</p>
<p>A line starting with ‘#’ indicates the two species that are analysed below. E.g. ‘# M.faa L.faa’ tells that the next lines are for species M.faa versus species L.faa.</p>
<p>All matches are reciprocal matches. If e.g. a match for M_15 L_15 is shown, L_15 M_15 exists implicitly.</p>
<p>E-Values and bit scores for both directions A-&gt;B and B-&gt;A are printed behind each match. (e.g. 5.9e-51 190.7 5.6e-50 187.61)</p>
<p>The 4 numbers below the species (e.g. ‘# 3.8e-124 434.9…’) are representing the median evalue/bitscore values for this comparison.</p>
<details>
<p><summary>myproject.blast-graph (Click to expand)</summary></p>
<pre><code># file_a    file_b
  # a   b     evalue_ab     bitscore_ab   evalue_ba     bitscore_ba
  # E.faa     C.faa   
  # 3.8e-124        434.9   2.8e-126        442.2
  E_11  C_11  5.9e-51 190.7   5.6e-50 187.61
  E_10  C_10  3.8e-124    434.9   2.8e-126    442.2
  ...</code></pre>
</details>
<p><br></p>
<p><strong>Clustering Output (step 3)</strong></p>
<p>clustered version of the myproject.blast-graph is printed in myproject.proteinortho-graph.</p>
<p>Its connected components are represented in myproject.proteinortho.tsv / myproject.proteinortho.html.</p>
<p>The format of myproject.blast-graph is the equivalent to the myproject.blast-graph (see above).</p>
<details>
<p><summary>myproject.proteinortho-graph (Click to expand)</summary></p>
<pre><code># file_a    file_b
  # a   b     evalue_ab     bitscore_ab   evalue_ba     bitscore_ba
  # E.faa     C.faa
  E_10  C_10  3.8e-124    434.9   2.8e-126    442.2
  E_11  C_11  5.9e-51 190.7   5.6e-50 187.6
  ...</code></pre>
</details>
<p><br></p>
<p>The connected components of myproject.proteinortho-graph.</p>
<p>The very first column indicates the number of species covered by this group. The second column indicates the number of genes included in this group.</p>
<p>If the number of genes is bigger than the number of species, there are co-orthologs present.</p>
<p>The third column gives the algebraic connectivity of the respective group. This indicates how densely the genes are connected in the orthology graph that was used for clustering. A connectivity of 1 indicates a perfect dense cluster with each gene beeing connected/orthologous to each other gene.</p>
<p>By default, Proteinortho splits each group into two more dense subgroups when the connectivity is below 0.1 (default -conn).</p>
<p>Hint: you can open this file in Excel / Numbers / Open Office as a tab separated file.</p>
<details>
<p><summary> myproject.proteinortho.tsv (Click to expand)</summary></p>
<pre><code># Species   Genes   Alg.-Conn.    C.faa   C2.faa  E.faa   L.faa   M.faa
  2   5     0.16  *     *     *     L_643,L_641   M_649,M_640,M_642
  3   6     0.138   C_164,C_166,C_167,C_2   *     *     L_2   M_2
  2   4     0.489   *     *     *     L_645,L_647   M_644,M_646
  ...</code></pre>
</details>
<p><br></p>
<p><a href="https://gitlab.com/paulklemm_PHD/proteinortho/wikis/Tools-and-additional-programs#proteinortho-graphblast-graph-species-summary-table">myproject.proteinortho-graph.summary</a></p>
<br>
<details>
<summary> myproject.proteinortho.html (Click to expand)</summary> The html version of the myproject.proteinortho.tsv file
</details>
<p><br></p>
<p><strong>POFF Output (-synteny)</strong></p>
<p>The synteny based graph files (before clustering = myproject.ffadj-graph and after clustering = myproject.poff-graph) have two additional columns: same_strand and simscore, e.g.</p>
<p># M.faa C_clean.faa # Scores: 7 15 5.500909 13.039009 M_10 C_10;test 1.71e-150 445 3.49e-150 444 1 1.0 M_11 C_11 2.34e-68 208 5.41e-67 204 1 0.997001020511701 M_14 C_14 1.68e-145 440 6.72e-150 451 1 1.0 M_15 C_15 8.33e-96 292 1.64e-99 301 1 1.0 M_16 C_16 5.15e-42 138 4.18e-42 138 1 0.620002623668878 …</p>
<p>The first one indicates if two genes from a match are located at the same strands (1) or not (-1). The second one is an internal score which can be interpreted as a normalized weight ranging from 0 to 1 based on the respective e-values.</p>
<details>
<p><summary>myproject.ffadj-graph (Click to expand)</summary></p>
<p>filtered blast data based on adaptive reciprocal best blast matches and synteny parameters</p>
<p>output columns are: geneA, geneB, evalue_A_vs_B, bitscore_A_vs_B, evalue_B_vs_A, bitscore_B_vs_A, same_strand, simscore</p>
<p>evalue* and bitscore* are computed by the specified -p blast algorithm (default: diamond) same_strand and simscore are described above</p>
<p># file_a file_b # a b evalue_ab bitscore_ab evalue_ba bitscore_ba same_strand simscore # C2.faa L.faa # Scores: 0 3 2.000000 3.000000 C_10 L_10 4.30e-151 446 6.13e-153 447 1 1.0 # C2.faa M.faa # Scores: 0 3 2.000000 3.000000 C_10 M_10 3.49e-150 444 2.43e-152 445 1 1.0 # C2.faa E.faa # Scores: 0 3 2.000000 3.000000 …</p>
</details>
<p><br></p>
<details>
<p><summary>myproject.poff-graph (Click to expand)</summary></p>
<p>clustered ffadj graph. Its connected components are represented in myproject.poff.tsv (tab separated file) (only if -synteny is set)</p>
<p>output columns are same as for ffadj-graph</p>
</details>
<details>
<p><summary>myproject.poff.tsv (Click to expand)</summary></p>
<p>The connected components of myproject.poff-graph (clustering output), same format as the myproject.proteinortho.tsv.</p>
<p>output columns are: number_species, number_genes, algebraic_connectivity, speciesA_proteins, …</p>
<p>algebraic_connectivity defines how well this group is connected (if all proteins have a connection to all other proteins, this score is high)</p>
<p>if multiple proteins are present in one group they are separated by comma (if they have a comma in their name it is replaced by semicolon)</p>
<p># Species Genes Alg.-Conn. C2.faa C_clean.faa E.faa L.faa M.faa 5 5 0.169 C_10 C_10;test E_10 L_10 M_10 4 4 0.449 * C_11 E_11 L_11 M_11 4 4 0.441 * C_63 E_19 L_19 M_19 4 4 0.44 * C_15 E_15 L_15 M_15 4 4 0.439 * C_64 E_18 L_18 M_18 4 4 0.435 * C_17 E_17 L_17 M_17 4 4 0.425 * C_14 E_14 L_14 M_14 4 4 0.39 * C_12 E_313 L_313 M_313 4 4 0.387 * C_16 E_16 L_16 M_16</p>
</details>
<p><br></p>
<h1 id="examples">EXAMPLES</h1>
<p><strong>Calling proteinortho</strong> Sequences are typically given in plain fasta format like the files in test/</p>
<p>test/C.faa:</p>
<blockquote>
<p>C_10 VVLCRYEIGGLAQVLDTQFDMYTNCHKMCSADSQVTYKEAANLTARVTTDRQKEPLTGGY HGAKLGFLGCSLLRSRDYGYPEQNFHAKTDLFALPMGDHYCGDEGSGNAYLCDFDNQYGR …</p>
</blockquote>
<p>test/E.faa:</p>
<blockquote>
<p>E_10 CVLDNYQIALLRNVLPKLFMTKNFIEGMCGGGGEENYKAMTRATAKSTTDNQNAPLSGGF NDGKMGTGCLPSAAKNYKYPENAVSGASNLYALIVGESYCGDENDDKAYLCDVNQYAPNV …</p>
</blockquote>
<p>To run proteinortho for these sequences, simply call</p>
<p>perl proteinortho6.pl test/C.faa test/E.faa test/L.faa test/M.faa</p>
<p>To give the outputs the name ‘test’, call</p>
<p>perl proteinortho6.pl -project=test test/*faa</p>
<p>To use blast instead of the default diamond, call</p>
<p>perl proteinortho6.pl -project=test -p=blastp+ test/*faa</p>
<p>If installed with make install, you can also call</p>
<p>proteinortho -project=test -p=blastp+ test/*faa</p>
<h1 id="hints">Hints</h1>
<p>Using .faa to indicate that your file contains amino acids and .fna to show it contains nucleotides makes life much easier but is not required.</p>
<p>Sequence IDs must be unique within a single FASTA file. Consider renaming otherwise. Note: Till version 5.15 sequences IDs had to be unique among the whole dataset. Proteinortho now keeps track of name and species to avoid the necessissity of renaming.</p>
<p>You need write permissions in the directory of your FASTA files as Proteinortho will create blast databases. If this is not the case, consider using symbolic links to the FASTA files.</p>
<p>The directory src/ contains useful tools, e.g. proteinortho_grab_proteins.pl which fetches protein sequences of orthologous groups from Proteinortho output table. (These files are installed during ‘make install’)</p>
<h1 id="credit-where-credit-is-due">Credit where credit is due</h1>
<ul>
<li>The all-versus-all BLAST-analysis (-step=2) is only possible with (one of) the following underlying algorithms:
<ul>
<li>NCBI BLAST+ or NCBI BLAST legacy (https://blast.ncbi.nlm.nih.gov/Blast.cgi?PAGE_TYPE=BlastDocs&amp;DOC_TYPE=Download)</li>
<li>Diamond (doi:10.1038/nmeth.3176, https://github.com/bbuchfink/diamond)</li>
<li>Last (doi:10.1101/gr.113985.110, http://last.cbrc.jp/)</li>
<li>Rapsearch2 (doi:10.1093/bioinformatics/btr595, https://github.com/zhaoyanswill/RAPSearch2)</li>
<li>Topaz (doi:10.1186/s12859-018-2290-3, https://github.com/ajm/topaz)</li>
<li>usearch,ublast (doi:10.1093/bioinformatics/btq461, https://www.drive5.com/usearch/download.html)</li>
<li>blat (http://hgdownload.soe.ucsc.edu/admin/)</li>
<li>mmseqs2 (doi:10.1038/nbt.3988 (2017). https://github.com/soedinglab/MMseqs2)</li>
</ul></li>
<li>The clustering step (-step=3) got a huge speedup with the integration of LAPACK (Univ. of Tennessee; Univ. of California, Berkeley; Univ. of Colorado Denver; and NAG Ltd., http://www.netlib.org/lapack/)</li>
<li>The html output of the *proteinortho.tsv (orthology groups) is enhanced by clusterize (https://github.com/NeXTs/Clusterize.js), reducing the scroll lag.</li>
</ul>
<h1 id="online-information">ONLINE INFORMATION</h1>
<p>For download and online information, see <a href="https://www.bioinf.uni-leipzig.de/Software/proteinortho/" class="uri">https://www.bioinf.uni-leipzig.de/Software/proteinortho/</a> or <a href="https://gitlab.com/paulklemm_PHD/proteinortho" class="uri">https://gitlab.com/paulklemm_PHD/proteinortho</a></p>
<h1 id="references">REFERENCES</h1>
<p>Lechner, M., Findeisz, S., Steiner, L., Marz, M., Stadler, P. F., &amp; Prohaska, S. J. (2011). Proteinortho: detection of (co-) orthologs in large-scale analysis. BMC bioinformatics, 12(1), 124.</p>
